@model juve.Models.Coment

<div>
    @using (Html.BeginForm("Coment", "AddComent"))
    {


        <table id="login-table" style="margin-left: auto; margin-right: auto;">
            <tr>
                <td>
                    @Html.LabelFor(m => m.Text)
                </td>
                <td>@Html.TextAreaFor(m=>m.Text)</td>
            </tr>

        </table>

    }
</div>

