<!DOCTYPE html>
<html>
<head>
    <title>Juventus Turyn</title>
    <meta charset="utf-8" />

    <link href=@Url.Content("~/Content/Style.css") rel="stylesheet" />
   

    
</head>
<body>
    <div class="wrapper">

        <header>
            <div class="logo">

                <img src="~/Content/Images/juve-logo.gif" width="55" height="55" style="float:left" />
                <span style="color:#000000;"> Juventus</span> Turyn
                <div style="clear:both;"></div>
            </div>
        </header>
        <nav>
            <ol>
                <li><a href="#">Strona główna</a></li>
                <li>
                    <a href="#">Klub</a>
                    <ul>
                        <li>@Html.ActionLink("Skład","Squad")</li>
                        <li><a href="#"></a>Historia</li>
                        <li><a href="#"></a>Trofea</li>
                    </ul>
                </li>
                <li>
                    <a href="#">Terminarz</a>
                    <ul>
                        <li> <a href="#"></a>Cacio A</li>
                        <li><a href="#"></a>Puchar Włoch</li>
                        <li> <a href="#"></a>Liga Mistrzów</li>
                    </ul>
                </li>
                <li>
                    <a href="#">Galeria</a>
                    <ul>
                        <li> <a href="#"></a>Sezon 2016/2017</li>
                        <li><a href="#"></a>Sezon 2015/2016</li>
                        <li> <a href="#"></a>Sezon 2014/2015</li>
                    </ul>
                </li>

                <li><a href="#">Sklep</a></li>
                <li><a href="#">Kontakt</a></li>
            </ol>

        </nav>
        <article>
            <section>
                @RenderBody()


            </section>
        </article>
        <footer>
            &copy;@DateTime.Now.Year My ASP.NET Aplication
        </footer>
    </div>

</body>
</html>
