@model juve.Models.News
@{
    ViewBag.Title = Model.Title;
}

@*<div>
    <h1>@Model.Title</h1>
    <p>@Model.Text</p>
</div>*@

<section class="news floatfix">



    <img src="~/Content/Images/juve-logo.gif" />
    <h1>@Model.Title</h1>
    <p>@Model.Text</p>
   

</section>