
@{
    ViewBag.Title = "Historia";
}
<section class="news">
    <h1>Tak to się zaczęło</h1>
    <p>
        Na lekcji łaciny, w jednej z klas Liceum Massimo D'Azeglio na Via Parini, pomiędzy ławkami krążyła kartka. W końcu zdenerwowany
        nauczyciel przechwycił notkę i przeczytał ją na głos rozweselonym uczniom: "Spotkajmy się o czwartej tak jak zwykle na ławce na
        Corsa Re Umberto." Autorem notki był Domenico Donna, który później tłumaczył się, że chłopcy mają zamiar oczywiście uczyć się
        Łaciny i cieszyć się ciepłym wrześniowym popołudniem. Zatem Juventus Football Club narodził się w głowach turyńskich uczniów w roku
        1897. Grupa uczniów założyła klub sportowy ze szczególnym naciskien na piłkę nożną, która już wtedy zdobywała coraz większą
        popularność w Wielkiej Brytani. Nie stawiali sobie żadnych celów, po za jednym - to miało być tylko zajęcie wolnego czasu, którego
        mieli bardzo dużo.
        Legenda głosi, że nauczyciel, który przechwycił słynną notkę skomentował cały ten fakt słowami "Che Juventus!", czyli po łacinie
        "Co za młodzież!".
        Na samym początku drużynę tworzyli 16-, 17-latkowie. Kwaterą główną był sklep z rowerami Canfariego przy Via Re Umberto, zaraz obok
        ławki na której zrodziła się idea klubu. Pierwszymi prezydentami zostali synowie Canfariego - Eugenio i Enrico. Kiedy pierwsze
        mistrzostwa były rozgrywane (w Turynie) piłkarze dopiero co założonego Juventusu musieli śledzić przebieg z trybun, ponieważ tylko
        cztery drużyny zostały dopuszczone do turnieju. W końcu Juventus uzyskał oficjalną nazwę - Sport Club Juventus. Chłopcy grali w
        różowych koszulkach, czarnych spodenkach i czarnych getrach.
        Zmiana nazwy na Juventus FC nastąpiła w 1899 roku, a w biało-czarnych koszulkach piłkarze zaczęli grać od 1903 roku. Powodem wymiany
        koszulek była pomyłka. Z Anglii przysłano po prostu inne niż te, co zamówili.
        Rok później piłkarze rozegrali pierwszy oficjalny mecz. Przeciwnikiem było FC Torinese. Niestety mecz zakończył się porażką 0:1.
        Jednym z piłkarzy był 11-letni(!!!) Ernesto Borel. Później jego syn, Felice, bardziej znany jako "Farfellino" (mały motyl) został
        częścią wielkiego Juve lat 30-tych.
        Pierwszy sukces przyszedł stosunkowo szybko. Już w 1905 Juventus święcił "Scudetto numero uno". W walce pokonał zespoły Milanu i
        Genui. Za sukcesem stał biznesmen Alfredo Dick. Jednak był on kontrowersyjnym przywódcą i zaledwie po roku od zdobycia trofeum
        rozstał się z Juve. Odszedł niedaleko, bo "za miedzę", gdzie wraz z przedstawicielami FC Torinese, założył klub
        AC Torino - odwiecznego rywala Juve.
        Następne lata to posucha dla Juve. Wielu piłkarzy poszło na wojnę, wielu z niej nie wróciło. Ale to właśnie w tym czasie narodził się
        magazyn "Hurra' Juventus". Dzisiaj jest najstarszym włoskim magazynem piłkarskim.
        Mimo, iż Juve grał coraz lepiej to nadal piłkarze z Turynu pozostawali w cieniu między innymi: Provercelli i Casali.
        Po zakończeniu pierwszej wojny światowej aspiracje Bianco-nerich wzrosły. Bramki bronił Giacone, a w obronie pomagali mu Novo
        (zaliczył występy w reprezentajcji kraju) i Bruno. Natomiast Corrado Corradini napisał dla klubu hymn, który obowiązywał do lat
        sześćdziesiątych.
    </p>
    <h1>Wielki Juventus</h1>
    <p>
        Giampiero Combi, jeden z najlepszych piłkarzy świata zadebiutował w barwach Juve w roku 1923. Tego samego roku Edoardo Agnelli, syn
        założyciela FIATA, został mianowany nowym prezydentem klubu.
        Ponieważ Juventus pozyskiwał coraz większą reszę kibiców, postanowiono rozgrywać mecze na obiekcie przy Marsiglia Road. Trenerem Juve
        został Jeno Karoly z Węgier, który wraz z Hirzerem (również Węgier) uzupełnił zdolności Combiego, Rosetty, Muneratiego, Bigatto i
        Combiego. Efektem tej współpracy był drugi tytuł mistrzowski zdobyty w sezonie 1925/26.
    </p>
    <h1>Pierwsze sukcesy</h1>
    <p>
        Sezon 1929/30 to pierwszy sezon Serie A (udział wzięło 18 drużyn). A już od następnego przez pięć lat (1930/31-1934/35) rządził
        już tylko Juve. W Juve grały takie gwiazdy jak Orsi, Caligaris, Monti, Cesarini, Varglien, Bertolini, Ferrari i Borel, a trenere był
        Carlo Carcano, który prowadził także reprezentację Włoch (wywalczył z nią w 1934 roku mistrzostwo świata).
        Krótko po piątym z rzędu mistrzostwie Włoch w katastrofie lotniczej nieopodal Genui zginął Edoardo Agnelli.
    </p>
    <hr />
    <p>
        Do tej pory Juventus zgromadził na swoim koncie 65 różnych trofeów - 34 mistrzostwa Włoch, 11 Pucharów Włoch, 2 Puchary Mistrzów,
        Puchar Zdobywców Pucharów, 3 Puchary UEFA, 2 Superpuchary Europy, 2 Puchary Interkontynentalne, 9 Superpucharów Włoch i Puchar
        Intertoto.
    </p>
    
</section>