@model IEnumerable<juve.Models.News>
@{
    ViewBag.Title = "Juventus Turyn";
}
<section class="news floatfix ">
    @foreach (var item in Model)
    {



        <articel>
            <img src="~/Content/Images/juve-logo.gif" />
            <h1>@item.Title</h1>
            <p>
                @item.Header
                <span>@Html.ActionLink("Więcej", "FullArticle", new { id = item.NewsId })</span>
            </p>
        </articel>
    }
</section>


   

