@model IEnumerable<juve.Models.News>
@{
    ViewBag.Title = "Juventus Turyn";
}

@foreach (var item in Model)
{
    <div>
        <h1>@item.Title</h1>
        <p>@item.Header</p>
        <span>@Html.ActionLink("Więcej","FullArticle",new { id = item.NewsId })</span>
    </div>
}

