@model IEnumerable<juve.Models.Player>
@{
    ViewBag.Title = "Skład";
}

<div class="squad-list floatfix">
    <img src="~/Content/Images/obrazek.jpg" />
    <h1>Bramkarze:</h1>
    @foreach (var item in Model.Where(p=>p.Position==juve.Models.Position.Bramkarz))
    {
       
            @Html.ActionLink(item.FirstName + " " + item.LastName, "Player", new { id = item.PlayerId });
        
    }

    <h1>Obrońcy:</h1>
    @foreach (var item in Model.Where(p => p.Position == juve.Models.Position.Obrońca))
    {

        @Html.ActionLink(item.FirstName + " " + item.LastName, "Player", new { id = item.PlayerId });

    }
    

    <h1>Pomocnicy:</h1>
    @foreach (var item in Model.Where(p => p.Position == juve.Models.Position.Pomocnik))
    {

        @Html.ActionLink(item.FirstName + " " + item.LastName, "Player", new { id = item.PlayerId });

    }

    <h1>Napastnicy:</h1>
    @foreach (var item in Model.Where(p => p.Position == juve.Models.Position.Napastnik))
    {

        @Html.ActionLink(item.FirstName + " " + item.LastName, "Player", new { id = item.PlayerId });

    }

</div>